@import 'src/css/constants';

.components {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  
  .componentsInner {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;

    p {
      @include desktop {
        width: 40%;
        min-width: 200px;
      }
    }
  }

  img {
    width: 100vw;
    min-width: 400px;
    margin-top: 20px;

    @include desktop {
      margin-top: 0;
    }
  }
}
