@import 'src/css/constants';

.intro {
  position: relative;
  height: 75vh;
  width: 100%;
  display: flex;
  justify-content: center;

  @include desktop {
    height: 100vh;
  }

  .introCover {
    display: none;
    position: absolute;
    min-width: 1920px;

    @include desktop {
      display: initial;
    }
  }

  .introContent {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 15vh;
    text-align: center;
    padding: 0 40px;

    @include desktop() {
      padding: 0;
      top: 15vw;
      left: 7vw;
      width: 40%;
      text-align: start;
    }

    > p {
      font-size: 3em;
      font-weight: 600;
      margin: 0;

      > .libName {
        color: $primary;
      }
    }

    .gitStars {
      display: flex;
      align-items: center;
      border: 1px solid;
      border-radius: 2px;
      align-self: center;

      @include desktop {
        align-self: flex-start;
      }

      img {
        padding: 0 4px;
        height: 16px;
      }

      span {
        display: inline-block;
        vertical-align: middle;
        padding: 0 10px;
        border-left: 1px solid;
        font-weight: 500;
      }
    }

    .buttons {
      margin-top: 40px;
      align-self: center;
      display: flex;
      flex-direction: column;

      @include desktop() {
        align-self: flex-start;
        flex-direction: row;
      }

      > :first-child {
        margin-bottom: 10px;

        @include desktop() {
          margin-right: 10px;
          margin-bottom: 0;
        }
      }
    }
  }
}
