$preview-width: 340px;
$preview-margin: 50px;
$editor-height: 700px;

.container {
  display: flex;
  background-color: #1d1e21;
  border-radius: 8px;
  padding: 50px;
}

.liveEditor {
  height: $editor-height;

  span {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.028px;
  }
}

.codeContainer {
  position: relative;
  flex: 1;
  height: 100%;
  max-width: calc(100% - ($preview-width + $preview-margin));
  border-radius: 8px;
  overflow-y: scroll;
  scrollbar-width: none;

  pre {
    min-height: 100%;
    padding: 20px !important;
    background-color: #1d1e21 !important;
  }
}

.codeHeader {
  position: sticky;
  top: 5px;
  right: 16px;
  z-index: 1;
  margin-right: 24px;
  display: flex;
  justify-content: flex-end;
}

.errorContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  pre {
    background-color: rgba(255, 255, 255, 0.8) !important;
    margin: 10px;
  }
}

.previewContainer {
  border-left: 1px solid #d2d6d8;
  display: flex;
}

.preview {
  position: relative;
  width: $preview-width;
  margin-left: $preview-margin;
  border-radius: 36px;
  border: 10px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 15px rgba(110, 120, 129, 0.05);
  overflow: hidden;
}

.iframe {
  width: 100%;
  height: 100%;
  position: 'absolute';
  top: 0;
  left: 0;
  border: 0;
  padding: 10;
  background-color: #fff;
}
