{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "targets": "last 2 chrome versions, last 2 firefox versions"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-export-namespace-from",
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    [
      "react-native-web",
      {
        "commonjs": true
      }
    ],
    [
      "module-resolver",
      {
        "alias": {
          "^react-native$": "react-native-web"
        }
      }
    ],
    "react-native-reanimated/plugin"
  ]
}