{
  "parser": "babel-eslint",
  "plugins": ["react-native"],
  "extends": [
    "airbnb"
  ],
  "rules": {
    "object-curly-spacing": "off",
    "react/prefer-stateless-function": "off",
    "react/jsx-filename-extension": "off",
    "react/require-default-props": "off",
    "no-use-before-define": "off",
    "react/forbid-prop-types": "off",
    "max-len": [2, 120, 4, {"ignoreUrls": true}]
  }
}