{
  // "eslintIntegration": true,
  // "printWidth": 120,
  // "useTabs": false,
  // "semi": true,
  // "singleQuote": true,
  // "jsxSingleQuote": false,
  // "trailingComma": "none",
  // "bracketSpacing": false,
  // "arrowParens": "avoid"
}
