@import 'src/styles/constants';

.main-page {
  text-align: center;
  height: 100%;
  .welcome {
    padding: 50px 0;
    height: 400px;
    background: $cyan50;

    .title {
      font-size: 50px;
      font-weight: 600;
    }
    
  }
}
