@import "src/styles/constants";

.main-page {
  // height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;

  .main-section {
    background: $primary;
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .description {
      font-size: $text10;
      color: $white;
    }
  }

  .platforms-section {
    background: $dark80;
    color: $dark10;
    width: 100%;
    margin-top: 20px;
    display: flex;
    padding: 40px 0;

    > div:first-child {
      display: flex;
      flex: 1;
      height: 100%;
      background: $dark80;
      padding: 20px 10px;
      justify-content: space-evenly;
      align-items: center;
    }

    > div:nth-child(2) {
      width: 40%;
      border-right: 1px solid $white;
      padding: 40px;
    }
  }

  .toolset-section {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px;
    background: $violet20;
    color: $white;

    .code-examples {
      display: flex;
      align-items: flex-start;

      code {
        display: inline-block;
        white-space: pre;
        text-align: left;
        background: $dark10;
        padding: 10px;
        margin-right: 10px;
        font-size: $text40;
        line-height: 1.4;
      }
    }
  }

  .native-section {
    padding: 40px;
    text-align: center;

    > .image-examples {
      display: flex;
      justify-content: space-evenly;

      img {
        height: 500px;
      }
    }
  }

  .support-section {
    display: flex;
    padding: 40px;
    background: $dark20;
    color: $white;

    > div:first-child {
      width: 25%;
    }
    
    > div:nth-child(2) {
      padding-left: 20px;
    }
  }

  .logo-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    text-align: center;

    .logo {
      height: 400px;
    }

    .docs-button {
      background: $secondary;
      color: $dark10;
      display: inline-block;
      margin-top: -30px;
      padding: 10px 25px;
      border-radius: 2px;
      font-size: $text10;
      letter-spacing: 3px;
      box-shadow: 3px 3px 1px 1px $dark60;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        background: $white;
      }

      &:active {
        box-shadow: 1px 1px 0px 0px $dark60;
      }
    }
  }
}
