@import 'src/styles/constants';

.modifiers-page {
  text-align: left;
  padding: 48px;
  background: #f2f4f5;
  overflow-y: auto;

  .article {
    width: 60%;
    margin-right: 50px;
  }

  pre {
    font-size: 16px;
  }
}
table {
  text-align: left;
  width: 100%;
  border-collapse: collapse;

  tr {
    &:first-child {
      background-color: $violet60;
    }

    th {
      padding: 9px;
    }
    td {
      padding: 9px;
      border-bottom: 1px solid $dark60;
    }
  }
}
