@import 'src/styles/constants';

.header {
  position: fixed;
  flex: 1;
  top: 0;
  width: 100%;
  height: $headerHeight;
  display: flex;
  align-items: center;
  padding: 0px 11%;
  background: $white;
  z-index: 100;
  box-shadow: 1px 1px 5px rgba($dark10, 0.2);
  
  // background-color: rgba(white, .15);  
  // backdrop-filter: blur(50px);

  .logo {
    height: 40px;
  }

  .links {
    display: flex;
    flex: 1;
    justify-content: flex-end;

    a {
      font-size: $text40;
      color: $dark10;
      text-decoration: none;
      font-weight: 500;

      &:not(:last-child) {
        margin-right: 40px;
      }
    }
  }
}
