@import "src/styles/constants";

.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: $headerHeight;

  .main {
    display: flex;
    flex: 1;
    height: 100%;
    border: 20px solid $white;
    border-top: 0;

    .sidebar {
    }

    .content {
      flex: 1;
    }
  }
}
