@import "src/styles/constants";

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: $headerHeight;

  .main {
    display: flex;
    flex: 1;
    height: 100%;
    border-top: 0;
    // overflow-y: auto;
    // overflow-x: hidden;
    width: 80%;
    min-width: 50vw;
  }

  .content {
    display: flex;
    flex: 1;
    
    &.with-navbar {
      padding-left: $navbarWidth;
    }
  }
}
