@import "src/styles/constants";

.navbar {
  position: fixed;
  width: $navbarWidth;
  height: calc(100% - #{$headerHeight} - 20px);
  overflow-y: auto;
  overflow-x: hidden;
  background: $primary;
  padding: 20px;
  border-radius: 2px;

  .search {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: $secondary;
    box-sizing: border-box;
    margin-bottom: 10px;
    width: 100%;
    transition: width 0.3s;
    border-radius: 2px;

    &:focus-within {
      width: 100%;
    }

    img {
      display: inline;
      height: 16px;
      // filter: invert(1); // turn to white
    }

    input {
      background: transparent;
      color: $dark10;
      flex: 1;
      display: inline-block;
      margin-left: 10px;
      height: 100%;
      outline: 0;
      border: 0;
      font-size: $text20;

      &::placeholder {
        color: $dark30;
      }
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    .list-header {
      // background-color: $dark40;
      color: $white;
      padding: 4px 0;
    }
  }

  li {
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s;
    margin: 1px 0;

    &.separator {
      height: 1px;
      background-color: $white;
      width: 100%;
      margin: 8px 0;
    }

    a {
      color: $white;
      font-size: $text50;
      font-weight: 500;
      padding: 8px;
      line-height: 1.4;
      width: 100%;
      display: inline-block;
      text-decoration: none;
      margin-bottom: 2px;
    }

    &:hover {
      a {
        color: $yellow20;
      }
    }
  }
}
