@import "src/styles/constants";

.markdown {
  display: flex;
  flex: 1;
  justify-content: center;

  .markdown-content {
    padding: 0 72px;
    width: $minScreenWidth;
  }

  p {
    width: 70%;
    word-break: break-word;
    line-height: 1.4;
  }

  pre {
    background-color: $dark80;
    border-radius: 4px;
    padding: 16px;
    max-width: 60vw;
    box-shadow: 2px 2px 2px $dark60;

    code {
      background: transparent;
      color: $dark10;
      padding: 0;
    }
  }

  code {
    font-size: 16px;
    line-height: 1.3;
    display: inline;
    word-break: break-word;
    width: 100%;
    background: $dark70;
    color: $primary;
    padding: 6px 10px;
    border-radius: 4px;
  }

  li {
    line-height: 1.4;
  }
}
