@import 'src/styles/constants';

.markdown {
  display: flex;

  .markdown-content {
    padding: 0 20px;
    min-width: 50vw;
    padding-bottom: 20px;
    overflow-y: auto;

    @include desktop {
      padding: 0 72px;
      padding-bottom: 40px;
      width: 80%;
    }
  }

  p {
    word-break: break-word;
    line-height: 1.4;
  }

  pre {
    background-color: $dark10;
    border-radius: 4px;
    padding: 16px;
    box-shadow: 2px 2px 2px rgba($dark10, 0.2);

    code {
      background: transparent;
      padding: 0;
      white-space: pre-wrap;
    }
  }

  code {
    word-break: break-word;
    display: inline-block;
    background: $dark70;
    padding: 1px 2px;
    margin-bottom: 2px;
  }

  li {
    line-height: 1.4;
  }
}
