h1 {
  font-weight: 500;
}

h2 {
  font-weight: 500;
}

h3 {
  font-weight: 600;
}

h4 {
  font-weight: 500;
}

h5 {
  font-weight: 600;
}

p {
  font-size: $text30;
}

strong {
  font-weight: 600;
}
