h1 {
  font-weight: 500;
}

h2 {
  font-weight: 500;
}

h3 {
  font-weight: 600;
}

h4 {
  font-weight: 500;
}

h5 {
  font-weight: 600;
}

p {
  font-size: $text30;
}

strong {
  font-weight: 600;
}

button {
  box-shadow: none;
  outline: 0;
  border: 0;
  min-width: 180px;
  padding: 12px 24px;
  border-radius: 100px;
  font-size: $text40;
  font-weight: 500;
  background-color: $white;
  color: $black;
  border: 1px solid $black;
  cursor: pointer;
  transition: 0.3s all;

  &:hover {
    background-color: $black;
    color: $white;
  }

  &.dark {
    background-color: $black;
    color: $white;
  }
}
