@import 'src/css/constants';

.btn {
  box-shadow: none;
  outline: 0;
  border: 0;
  min-width: 180px;
  padding: 12px 24px;
  border-radius: 100px;
  font-size: $text40;
  font-weight: 500;
  background-color: $white;
  color: $black;
  border: 1px solid $black;
  cursor: pointer;
  transition: 0.2s all;

  &:hover {
    background-color: $black;
    color: $white;
  }
}

.btnDark {
  @extend .btn;
  background-color: $black;
  color: $white;

  &:hover {
    background-color: $dark10;
  }
}
