@use '../css/constants' as *;

.column {
  display: 'flex';
  flex-direction: 'column';
}

.row {
  display: 'flex';
  flex-direction: 'row';
}

.text { // not working in className
  font-size: '16px';
  font-weight: '400';
}

.boldText { // not working in className
  font-size: '16px';
  font-weight: '700';
}
