@import 'src/styles/constants';

.info-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;

  .column {
    margin-right: 20px;
    min-width: 200px;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      a {
        color: $dark10;
      }
    }
  }

  .qr {
    height: 100px;
  }
}
