@import 'src/styles/constants';
.intro {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;

  .intro-cover {
    position: absolute;
    width: 100vw;
    height: 100%;
  }

  .intro-inner {
    display: flex;
  }

  .intro-content {
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 40%;
    justify-content: center;
    align-items: flex-start;

    > p {
      font-size: 48px;
      font-weight: 600;
      margin: 0;

      > .lib-name {
        color: $primary;
      }
    }

    .git-stars {
      display: inline-block;
      border: 1px solid;
      border-radius: 2px;

      span {
        padding: 2px;
      }
      > span:last-child {
        border-left: 1px solid;
      }
    }

    .buttons {
      margin-top: 40px;

      > :first-child {
        margin-right: 10px;
      }
    }
  }
}
