name: Deploy Documentation

on:
  push:
    branches:
      - master
      - release

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write    # Needed for pushing to gh-pages
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Setup Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'

      - name: Install dependencies
        run: NPQ_PKG_MGR=yarn npx npq install --immutable

      - name: Build documentation
        run: yarn docs:build

      - name: Deploy documentation
        if: github.ref == 'refs/heads/release'
        env:
          GIT_USER: github-actions[bot]
          GIT_PASS: ${{ secrets.GITHUB_TOKEN }}

        run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          cd docuilib
          NPQ_PKG_MGR=yarn npx npq install --immutable
          yarn deploy

      - name: Deploy disclaimer
        if: github.ref != 'refs/heads/release'
        run: |
          echo "Deploying will only happen on release branch"
